<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Infektionen Verwaltung</title>
</head>
<body>
<h1>Infektionen</h1>

<!-- Liste aller Infektionen -->
<h2>Alle Infektionen</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Erregertypen</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="infektion : ${infektionen}">
        <td th:text="${infektion.id}"></td>
        <td th:text="${infektion.name}"></td>
        <td>
            <ul>
                <li th:each="erregertyp : ${infektion.erregertypen}" th:text="${erregertyp.name}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/infektionen/edit/{id}(id=${infektion.id})}">Bearbeiten</a>
            <form th:action="@{/infektionen/delete/{id}(id=${infektion.id})}" method="post" th:method="delete">
                <button type="submit">Löschen</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Button zum Weiterleiten auf die Seite für Erregertypen -->
<br>
<a href="/erregertypen/view"><button type="button">Neue Infektion anlegen</button></a>

</body>
</html>
